@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');
@import 'tailwindcss';

@theme {
  --font-sans: 'Imprima', sans-serif;

  --color-brand: #F47B20;
  --color-brand-light: #FFF3E8;

  --radius-4xl: 2rem;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}